@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Header {
    overflow: hidden;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: "left center right";
    width: 100%;
}
.Header-menu{
    float: left;
    cursor: pointer;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}


.Header-logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: inherit;

}
.Container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.Main-text{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}
.Main-text-title{
    font-size: 134px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}
.Main-text-subtitle{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}
.Main-text-link{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #fff;
}
.Section-main {
    height: 100vh;
    background-image: url(../src/assets/taycan-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
