@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: Porsche Next;
    src: url(../src/assets/porsche-next-bold.otf) format("otf"),
    url(../src/assets/PorscheNext-Regular.otf) format("otf"),
    url(../src/assets/porsche-next-italic.otf) format("otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Header {
    overflow: hidden;
    padding: 10px 0;
    /*display: grid;*/
    /*grid-template-columns: 1fr auto 1fr;*/
    /*grid-template-rows: 1fr;*/
    /*gap: 0 0;*/
    /*grid-template-areas: "left center right";*/
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Header-menu {
    float: left;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

.Header-logo {
    display: block;
    margin-top: 14px;
    max-width: 240px;
    max-height: 16px;
}

.Header-search {
    float: right;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

.Container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.Main-text {
    width: 600px;
    height: 500px;
    padding: 11em 0 0 5em;
}
.Main-text-title {
    color: #FFFFFF;
    text-align: left;
    margin-top: 33px;
    margin-left: 105px;
    font-size: 4.7em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 180.027px */
    font-family: "Porsche Next", sans-serif;
}

.img-718 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Section-main {
    height: 110vh;
    background-image: url(../src/assets/taycan-main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
